annotated-types==0.8.0
anyio==4.15.1
asgiref==3.9.1
cbor2==6.1.4
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.2.1
cryptography==50.0.1
dj-database-url==3.1.2
Django==5.2.6
django-ckeditor==6.7.3
django-jalali-date==2.0.0
django-js-asset==3.1.2
django-mathfilters==1.0.0
django-taggit==6.1.0
gunicorn==23.0.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore2==2.13.0
httptools==0.6.4
httpx2==2.13.0
hyperframe==6.1.0
idna==3.20
jalali_core==1.0.0
jdatetime==6.1.0
packaging==25.0
pillow==11.3.0
psycopg==3.3.6
psycopg-binary==3.3.6
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
python-dotenv==1.1.0
python-multipart==0.0.32
PyYAML==6.0.2
requests==2.34.2
semver==3.1.0
setuptools==80.9.0
sniffio==1.3.1
sqlparse==0.5.3
truststore==0.10.4
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2025.2
urllib3==2.8.0
uvicorn==0.34.3
uvloop==0.21.0
vercel==0.11.3
vercel-cache==0.7.5
vercel-headers==0.7.2
vercel-internal-core==0.2.0
vercel-internal-telemetry==0.8.0
vercel-oidc==0.9.0
vercel-queue==0.9.0
vercel-sandbox==0.6.0
vercel-workflow==0.10.2
websockets==15.0.1
wheel==0.45.1
